<extend name="Public:admin" />
<block name="css">
</block>
<block name="title">沙龙管理</block>
<block name="content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist" id="templatemo-tabs">
                <li class="active"><a href="#list" role="tab" data-toggle="tab" style="color:#222">沙龙列表</a></li>
                <li><a href="#check" role="tab" data-toggle="tab" style="color:#222">未审批沙龙列表</a></li>
                <li><a href="#new" role="tab" data-toggle="tab" style="color:#222">新建项目</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="list">
                    <table class="table-bordered table-striped table-condensed" style="width:100%">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>说明</th>
                                <th>文档路径</th>
                                <th>源代码路径</th>
                                <th>ppt路径</th>
                                <th>作者</th>
                                <th>创建时间</th>
                                <th colspan="3">操作</th>
                            </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tbody>
                                <tr>
                                    <td class="name">{$vo.name}</td>
                                    <td class="instruction">{$vo.instruction}</td>
                                    <td class="file">{$vo.filename}
                                        <a href="{$vo.file}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;float:right;"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="mainfile">{$vo.mainfilename}
                                        <a href="{$vo.mainfile}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;float:right;"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="pptfile">{$vo.pptfilename}
                                        <a href="{$vo.pptfile}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;float:right;"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="author">{$vo.author}</td>
                                    <td class="date">{$vo.date}</td>
                                    <td>
                                        <p class="fa fa-trash" onclick="javascript:if(confirm('确定删除该沙龙?'))location='__URL__/delete?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"></p>
                                    </td>
                                    <td>
                                        <p href="#update{$vo.id}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;"><i class=" fa fa-edit"></i></p>
                                    </td>
                                    <td>
                                        <p onclick="location.href='__URL__/change?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"><i class="fa fa-check-circle-o"></i></p>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 修改模态框 -->
                            <div id="update{$vo.id}" class="modal fade" tabindex="-1" data-backdrop="update">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">修改基本内容</h4>
                                        </div>
                                        <form form action="__URL__/update?id={$vo.id}" enctype="multipart/form-data" method="post" class="form-horizontal">
                                            <div class="modal-body">
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">名称:</label>
                                                        <input type="text" class="form-control" name="name" value="{$vo.name}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">作者:</label>
                                                        <input type="text" class="form-control" name="author" value="{$vo.author}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">说明:</label>
                                                        <textarea class="form-control" name="instruction">{$vo.instruction}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn">保存修改</button>
                                                <button type="button" data-dismiss="modal" class="btn">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </table>
                    {$Page}
                </div>
                <div class="tab-pane fade" id="check">
                    <table class="table-bordered table-striped table-condensed" style="width:100%">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>说明</th>
                                <th>文档路径</th>
                                <th>源代码路径</th>
                                <th>ppt路径</th>
                                <th>作者</th>
                                <th>创建时间</th>
                                <th colspan="3">操作</th>
                            </tr>
                        </thead>
                        <volist name="list_no" id="vo">
                            <tbody>
                                <tr>
                                    <td class="name">{$vo.name}</td>
                                    <td class="instruction">{$vo.instruction}</td>
                                    <td class="file">{$vo.filename}
                                        <a href="{$vo.file}" style="font-size:20px;color:#5BC0DE;margin:0;float:right;"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="mainfile">{$vo.mainfilename}
                                        <a href="{$vo.mainfile}" style="font-size:20px;color:#5BC0DE;margin:0;float:right;"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="pptfile">{$vo.pptfilename}
                                        <a href="{$vo.pptfile}" style="font-size:20px;color:#5BC0DE;margin:0;float:right;"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="author">{$vo.author}</td>
                                    <td class="date">{$vo.date}</td>
                                    <td>
                                        <p class="fa fa-trash" onclick="javascript:if(confirm('确定删除该沙龙?'))location='__URL__/delete?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"></p>
                                    </td>
                                    <td>
                                        <p href="#update{$vo.id}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;"><i class=" fa fa-edit"></i></p>
                                    </td>
                                    <td>
                                        <p onclick="location.href='__URL__/change?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"><i class="fa fa-circle-o"></i></p>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 修改模态框 -->
                            <div id="update{$vo.id}" class="modal fade" tabindex="-1" data-backdrop="update">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">修改基本内容</h4>
                                        </div>
                                        <form form action="__URL__/update?id={$vo.id}" enctype="multipart/form-data" method="post" class="form-horizontal">
                                            <div class="modal-body">
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">名称:</label>
                                                        <input type="text" class="form-control" name="name" value="{$vo.name}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">作者:</label>
                                                        <input type="text" class="form-control" name="author" value="{$vo.author}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">说明:</label>
                                                        <textarea class="form-control" name="instruction">{$vo.instruction}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn">保存修改</button>
                                                <button type="button" data-dismiss="modal" class="btn">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </table>
                    {$Page_no}
                </div>
                <div class="tab-pane fade" id="new">
                    <form action="__URL__/upload" enctype="multipart/form-data" method="post" class="form-horizontal">
                        <div class="list-group">
                            <div class="row">
                                <div class="control-group col-sm-4">
                                    <label class="control-label">文件上传</label>
                                    <input type="file" name="file">
                                </div>
                                <div class="control-group col-sm-4">
                                    <label class="control-label">源码上传</label>
                                    <input type="file" name="mainfile">
                                </div>
                                <div class="control-group col-sm-4">
                                    <label class="control-label">ppt上传</label>
                                    <input type="file" name="pptfile">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">名称:</label>
                                <input type="text" class="form-control" name="name" />
                            </div>
                            <div class="control-group">
                                <label class="control-label">作者:</label>
                                <input type="text" class="form-control" name="author" />
                            </div>
                            <div class="control-group">
                                <label class="control-label">说明:</label>
                                <textarea class="form-control" name="instruction"></textarea>
                            </div>
                            <div class="control-group col-sm-offset-8 col-sm-4">
                                <button class="btn btn-info pull-right" style="width:100%">新建</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="col-md-12">
            <div id="container">
                <a class="btn btn-default btn-lg " id="pickfiles" href="#">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择文件</span>
                </a>
            </div>
        </div>
        <div style="display:none" id="success" class="col-md-12">
            <div class="alert-success">
                队列全部文件处理完毕
            </div>
        </div>
        <div class="col-md-12 ">
            <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
                <thead>
                    <tr>
                        <th class="col-md-4">文件名称</th>
                        <th class="col-md-2">文件大小</th>
                        <th class="col-md-6">文件详情</th>
                    </tr>
                </thead>
                <tbody id="fsUploadProgress">
                </tbody>
            </table>
        </div>
    </div>
</block>
<block name="js">
    <!-- // <script src="__PUBLIC__/qiniu/plupload.full.min.js" type="text/javascript"></script> -->
    <!-- // <script src="__PUBLIC__/qiniu/qiniu.js" type="text/javascript"></script> -->
    <script type="text/javascript">
    // var uploader = Qiniu.uploader({
    //     runtimes: 'html5,flash,html4', //上传模式,依次退化
    //     browse_button: 'pickfiles', //上传选择的点选按钮，**必需**
    //     uptoken_url: '__URL__/upToken',
    //     //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
    //     // uptoken : '<Your upload token>',
    //     //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
    //     // unique_names: true,
    //     // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
    //     // save_key: true,
    //     // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
    //     domain: 'http://7xlw9f.com1.z0.glb.clouddn.com/',
    //     //bucket 域名，下载资源时用到，**必需**
    //     bucket: 'ydlm',
    //     container: 'container', //上传区域DOM ID，默认是browser_button的父元素，
    //     max_file_size: '100mb', //最大文件体积限制
    //     flash_swf_url: '__PUBLIC__/qiniu/Moxie.swf', //引入flash,相对路径
    //     max_retries: 1, //上传失败最大重试次数
    //     dragdrop: true, //开启可拖曳上传
    //     drop_element: 'container', //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
    //     chunk_size: '4mb', //分块上传时，每片的体积
    //     auto_start: true, //选择文件后自动上传，若关闭需要自己绑定事件触发上传
    //     init: {
    //         'FilesAdded': function(up, files) {
    //             plupload.each(files, function(file) {
    //                 // 文件添加进队列后,处理相关的事情
    //             });
    //         },
    //         'BeforeUpload': function(up, file) {
    //             // 每个文件上传前,处理相关的事情
    //         },
    //         'UploadProgress': function(up, file) {
    //             // 每个文件上传时,处理相关的事情
    //         },
    //         'FileUploaded': function(up, file, info) {
    //             // 每个文件上传成功后,处理相关的事情
    //             // 其中 info 是文件上传成功后，服务端返回的json，形式如
    //             // {
    //             //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
    //             //    "key": "gogopher.jpg"
    //             //  }
    //             // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html
    //             // var domain = up.getOption('domain');
    //             // var res = parseJSON(info);
    //             // var sourceLink = domain + res.key; 获取上传成功后的文件的Url
    //         },
    //         'Error': function(up, err, errTip) {
    //             //上传出错时,处理相关的事情
    //         },
    //         'UploadComplete': function() {
    //             //队列文件处理完毕后,处理相关的事情
    //         },
    //         'Key': function(up, file) {
    //             // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
    //             // 该配置必须要在 unique_names: false , save_key: false 时才生效
    //             var key = "";
    //             // do something with key here
    //             return key
    //         }
    //     }
    // });
    </script>
</block>
