					<div class="column-340  m-top-50 m-right-115 contact-form contact-us-x">
						<div class="column-340">
							<div class="summary m-bottom-40">
								Drop us a line using contact form below
							</div>
							<p class="m-bottom-22">Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere...</p>
						</div>
						<div class="clear"></div>    
						<form id="contact-form" method="post" action="#" enctype="application/x-www-form-urlencoded">
							<label for="name">Name *</label>
							<input type="text" id="name" name="contact[name]" class="rounded" />
							<label for="name">E-mail *</label>
							<input type="text" id="email" name="contact[email]" class="rounded" />
							<label for="name">Subject *</label>
							<input type="text" id="subject" name="contact[subject]" class="rounded" />
							<label for="name">Message *</label>
							<textarea id="message" name="contact[message]" cols="42" rows="7" class="rounded"></textarea>
						</form>
						<input type="button" id="submit-mail" class="submit-btn rounded" value="SEND" /> 
						<div id="mail-message">
							<table>
								<tr>
									<td>
										<div id="mail-message-window">
											<div id="mail-message-header"></div>
											<p id="mail-failure">Unable to send your email!</p>
											<p id="invalid-email">Please enter valid email address!</p>
											<p id="empty-field">Please fill out all the fields in order to send us a message.</p>
											<p id="mail-success">Your email has been successfully sent to Kronos&copy;DryThemes!</p>
											<input type="button" id="mail-message-btn" class="mail-message-btn rounded" value="OK" />
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>