<extend name="Public:admin" />
<block name="css">
    <link href="__ACSS__/jquery.fancybox.css" rel="stylesheet" />
    <link href="__ACSS__/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="__ACSS__/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__ACSS__/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="__ACSS__/jquery-ui-1.10.1.custom.min.css"/>
</block>


<block name="content">
<!--         <p style="font-size:30px;text-align:center">修改人物介绍</p>
        <form name="form" method="POST" action="__URL__/handle?id={$id}" enctype="multipart/form-data">

            <div>
                <p>人物头像：</p>
                <img width="100" height="100" src="{$person['img_path']}"/><br>
    			<span class="btn green fileinput-button">
  				<i class="icon-plus icon-white"></i>
    			<span>头像修改</span>
    			<input type="file" name="tx" multiple>
    			</span>
            </div><br><br>
    <div>
        <p>姓名：</p><input type="text" name="name" value="{$person['name']}" placeholder="姓名"><br />
    </div>

    <div>
        <p>英文名</p><input type="text" name="english_name" value="{$person['english_name']}" placeholder="英文名"><br />
    </div>

    <div>
        <p>年龄：</p><input type="text" name="age" value="{$person['age']}" placeholder="年龄"><br />
    </div>

    <div>
        <p>性别：</p><input type="text" name="sex" value="{$person['sex']}" placeholder="性别"><br />
    </div>

    <div>
        <p>角色：</p><input type="text" name="role" value="{$person['role']}" placeholder="角色"><br />
    </div>

    <div>
        <p>学院：</p><input type="text" name="college" value="{$person['college']}" placeholder="学院"><br />
    </div>

    <div>
       <p>人物简介：</p><textarea rows="5" cols="20" style="width:232px" name="content"   maxlength="100">{$person['content']}</textarea>
    </div>

    <button type="submit" class="btn blue start">
    <i class="icon-upload icon-white"></i>
    <span>Start Upload</span>
    </button>

</form> -->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PORTLET-->   
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>成员信息修改</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <!-- <a href="#portlet-config" data-toggle="modal" class="config"></a> -->
                        <!-- <a href="javascript:;" class="reload"></a> -->
                        <!-- <a href="javascript:;" class="remove"></a> -->
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form form action="__URL__/handle?id={$id}" enctype="multipart/form-data" method="post" class="form-horizontal">

                        <div class="control-group">
                            <label class="control-label">Image Upload</label>
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="{$person['img_path']}" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file"><span class="fileupload-new">Select image</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" class="default" name="tx"/></span>
                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
<!--                                 <span class="label label-important">NOTE!</span>
                                <span>
                                Attached image thumbnail is

                                supported in Latest Firefox, Chrome, Opera, 

                                Safari and Internet Explorer 10 only
                                </span> -->
                            </div>

                        </div>
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="name" value="{$person['name']}"/>
                                <span class="help-inline">姓名</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">English_Name</label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="english_name" value="{$person['english_name']}"/>
                                <span class="help-inline">英文名</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Role</label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="role" value="{$person['role']}"/>
                                <span class="help-inline">职务</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">College</label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="college" value="{$person['college']}"/>
                                <span class="help-inline">学院</span>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">Content</label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="content" value="{$person['content']}"/>
                                <span class="help-inline">简介</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                            <button type="submit" class="btn blue start">
                            <i class="icon-upload icon-white"></i>
                            <span>提交修改</span>
                            </button>
                            </div>
                        </div>
                    </form>

                    <!-- END FORM-->  

                </div>

            </div>

            <!-- END PORTLET-->

        </div>

    </div>
</block>
<block name="jq">
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script type="text/javascript" src="__AJS__/bootstrap-fileupload.js"></script>

    <script src="__AJS__/bootstrap-modal.js" type="text/javascript" ></script>

    <script src="__AJS__/bootstrap-modalmanager.js" type="text/javascript" ></script>

    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="__AJS__/app.js"></script>

    <script src="__AJS__/form-components.js"></script>  

    <script src="__AJS__/ui-modals.js"></script>     

    <!-- END PAGE LEVEL SCRIPTS -->


    <script>
    jQuery(document).ready(function() {

        // initiate layout and plugins

            App.init();
            FormComponents.init();
            UIModals.init();

    });
    </script>

    <!-- END JAVASCRIPTS -->
</block>
