<extend name="Public:menu" />
<block name="css">
    <title>移动联盟 | 沙龙展示</title>
    <link href="__HCSS__/timeline.css" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <div class="col-sm-8">
        <ul class="timeline">
            <volist name="file" id="file">
                <li class="timeline-grey">
                    <div class="timeline-time">
                        <span class="date">{$file.date}</span>
                    </div>
                    <div class="timeline-body">
                        <h2>
                            {$file.name}
                            <notempty name="file.author"><div class="pull-right"><small>by {$file.author}</small></div></notempty>
                        </h2>
                        <div class="timeline-content">
                            {$file.instruction}
                        </div>
                        </notempty>
                        <div class="timeline-footer row">
                            <div class="col-sm-4 col-xs-4">
                                <notempty name="file.filename"><a href="{$file.file}" class="nav-link btn btn-default" style="width:100%;text-align:center">下载文档</a></notempty>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <notempty name="file.mainfilename"><a href="{$file.mainfile}" class="nav-link btn btn-default" style="width:100%;text-align:center">下载源代码</a></notempty>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <notempty name="file.pptfilename"><a href="{$file.pptfile}" class="nav-link btn btn-default" style="width:100%;text-align:center">下载ppt</a></notempty>
                            </div>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="time-right">
            <div class="col-sm-6">
                <a class="btn btn-default" style="width:100%" href="#add" data-toggle="modal">提交</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-default" style="width:100%" href="#">评论</a>
            </div>
            <div class="list-group col-sm-12" style="padding:15px">
                <volist name="log" id="log">
                    <button class="list-group-item" style="font-size:20px;">{$log.title}</button>
                </volist>
            </div>
            <div class="list-group col-sm-12" style="padding:15px">
                <div style="background-color:#fff;border-radius:5px;">
                <div class="ds-thread" data-thread-key="salon" data-title="salon" data-url="salon"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 上传 -->
    <div id="add" class="modal fade" tabindex="-1" data-backdrop="add" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">申请沙龙项目</h4>
                </div>
                <form action="__URL__/uploadSalon" enctype="multipart/form-data" method="post" class="form-horizontal">
                    <div class="modal-body">
                        <div class="list-group">
                            <div class="row">
                                <div class="control-group col-sm-4">
                                    <label class="control-label">文件上传</label>
                                    <input type="file" name="file">
                                </div>
                                <div class="control-group col-sm-4">
                                    <label class="control-label">源码上传</label>
                                    <input type="file" name="mainfile">
                                </div>
                                <div class="control-group col-sm-4">
                                    <label class="control-label">ppt上传</label>
                                    <input type="file" name="pptfile">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">名称:</label>
                                <input type="text" class="form-control" name="name" />
                            </div>
                            <div class="control-group">
                                <label class="control-label">作者:</label>
                                <input type="text" class="form-control" name="author" />
                            </div>
                            <div class="control-group">
                                <label class="control-label">说明:</label>
                                <textarea class="form-control" name="instruction"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        请耐心等待完成提示！
                        <button type="submit" class="btn btn-info">提交</button>
                        <button type="button" data-dismiss="modal" class="btn btn-info">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="js">
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"ydlm"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
</block>
