<extend name="Public:menu" />
<block name="css">
    <title>移动联盟 | 新闻列表</title>
    <link href="__HCSS__/timeline.css" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <div class="col-sm-8">
        <ul class="timeline">
            <volist name="news" id="news">
                <li class="timeline-grey">
                    <div class="timeline-time">
                        <span class="date">{$news.date}</span>
                    </div>
                    <div class="timeline-body" onclick="location='__URL__/newshow?id={$news.id}'">
                        <h2>{$news.title}</h2>
                        <div class="timeline-content">
                            <notempty name="news.img"><img class="timeline-img pull-left" src="{$news.img}" alt=""></notempty>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
        {$page}
    </div>
    <div class="col-sm-4">
        <div class="time-right">
            <div class="col-sm-6">
                <a class="btn btn-default" style="width:100%" href="#">提交</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-default" style="width:100%" href="#">评论</a>
            </div>
            <div class="list-group col-sm-12" style="padding:15px">
                <volist name="log" id="log">
                    <button class="list-group-item" style="font-size:20px;">{$log.title}</button>
                </volist>
            </div>
            <div class="list-group col-sm-12" style="padding:15px">
                <div style="background-color:#fff;border-radius:5px;">
                <div class="ds-thread" data-thread-key="timeline" rdata-title="timeline" data-url="timeline"></div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"ydlm"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
</block>
