<extend name="Public:menu" />
<block name="css">
    <title>移动联盟 | 新闻列表</title>
    <link href="__HCSS__/timeline.css" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <div class="col-sm-8">
        <ul class="timeline">
            <volist name="news" id="news">
                <li class="timeline-grey">
                    <div class="timeline-time">
                        <span class="date">{$news.date}</span>
                    </div>
                    <!-- <div class="timeline-icon"><a href="#add" data-toggle="modal"><i class="fa fa-plus"></i></a></div> -->
                    <div class="timeline-body" onclick="location='__URL__/newshow?id={$news.id}'">
                        <h2>{$news.title}</h2>
                        <div class="timeline-content">
                            <notempty name="news.img"><img class="timeline-img pull-left" src="{$news.img}" alt=""></notempty>
                        </div>
<!--                         <div class="timeline-footer">
                            <a class="nav-link" href="__URL__/newshow?id={$news.id}">更多<i class="m-icon-swapright m-icon-white"></i></a>
                        </div> -->
                    </div>
                </li>
            </volist>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="time-right">
            <div class="col-sm-6">
                <a class="btn btn-info" style="width:100%" href="#">提交</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-info" style="width:100%" href="#">评论</a>
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>
