<extend name="Public:admin" />
<block name="css">
</block>
<block name="title">文件管理</block>
<block name="content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist" id="templatemo-tabs">
                <li class="active"><a href="#list" role="tab" data-toggle="tab" style="color:#222">开源项目列表</a></li>
                <li><a href="#check" role="tab" data-toggle="tab" style="color:#222">未审批项目列表</a></li>
                <li><a href="#new" role="tab" data-toggle="tab" style="color:#222">新建项目</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="list">
                    <table class="table-bordered table-striped table-condensed" style="width:100%">
                        <thead>
                            <tr>
                                <th>文件名称</th>
                                <th>文件大小</th>
                                <th>文件路径</th>
                                <th>创建时间</th>
                                <th>作者</th>
                                <th>作品说明</th>
                                <th colspan="4">操作</th>
                            </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tbody>
                                <tr>
                                    <td class="name">{$vo.filename}</td>
                                    <td class="size">{$vo.size}</td>
                                    <td class="path">{$vo.path}</td>
                                    <td class="time">{$vo.time}</td>
                                    <td class="author">{$vo.author}</td>
                                    <td class="instruction">{$vo.instruction}</td>
                                    <td>
                                        <p href="{$vo.path}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;"><i class="fa fa-download"></i></p>
                                    </td>
                                    <td>
                                        <p class="fa fa-trash" onclick="javascript:if(confirm('确定删除该开源项目?'))location='__URL__/delete?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"></p>
                                    </td>
                                    <td>
                                        <p href="#update{$vo.id}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;"><i class=" fa fa-edit"></i></p>
                                    </td>
                                    <td>
                                        <p onclick="location.href='__URL__/change?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"><i class="fa fa-check-circle-o"></i></p>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 修改模态框 -->
                            <div id="update{$vo.id}" class="modal fade" tabindex="-1" data-backdrop="update">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">修改基本内容</h4>
                                        </div>
                                        <form form action="__URL__/update?id={$vo.id}" enctype="multipart/form-data" method="post" class="form-horizontal">
                                            <div class="modal-body">
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">项目名称:</label>
                                                        <input type="text" class="form-control" name="name" value="{$vo.filename}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">项目参与者:</label>
                                                        <input type="text" class="form-control" name="author" value="{$vo.author}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">开源介绍:</label>
                                                        <input type="text" class="form-control" name="instruction" value="{$vo.instruction}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn">保存修改</button>
                                                <button type="button" data-dismiss="modal" class="btn">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </table>
                    {$Page}
                </div>
                <div class="tab-pane fade" id="check">
                    <table class="table-bordered table-striped table-condensed" style="width:100%">
                        <thead>
                            <tr>
                                <th>文件名称</th>
                                <th>文件大小</th>
                                <th>文件路径</th>
                                <th>创建时间</th>
                                <th>作者</th>
                                <th>作品说明</th>
                                <th colspan="4">操作</th>
                            </tr>
                        </thead>
                        <volist name="list_no" id="vo">
                            <tbody>
                                <tr>
                                    <td class="name">{$vo.filename}</td>
                                    <td class="size">{$vo.size}</td>
                                    <td class="path">{$vo.path}</td>
                                    <td class="time">{$vo.time}</td>
                                    <td class="author">{$vo.author}</td>
                                    <td class="instruction">{$vo.instruction}</td>
                                    <td>
                                        <p href="/{$vo.path}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;"><i class="fa fa-download"></i></p>
                                    </td>
                                    <td>
                                        <p class="fa fa-trash" onclick="javascript:if(confirm('确定删除该开源项目?'))location='__URL__/delete?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"></p>
                                    </td>
                                    <td>
                                        <p href="#update{$vo.id}" data-toggle="modal" style="font-size:20px;color:#5BC0DE;margin:0;"><i class=" fa fa-edit"></i></p>
                                    </td>
                                    <td>
                                        <p onclick="location.href='__URL__/change?id={$vo.id}'" style="font-size:20px;color:#5BC0DE;margin:0;"><i class="fa fa-circle-o"></i></p>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- 修改模态框 -->
                            <div id="update{$vo.id}" class="modal fade" tabindex="-1" data-backdrop="update">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">修改基本内容</h4>
                                        </div>
                                        <form form action="__URL__/update?id={$vo.id}" enctype="multipart/form-data" method="post" class="form-horizontal">
                                            <div class="modal-body">
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">项目名称:</label>
                                                        <input type="text" class="form-control" name="name" value="{$vo.filename}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">项目参与者:</label>
                                                        <input type="text" class="form-control" name="author" value="{$vo.author}" />
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">开源介绍:</label>
                                                        <input type="text" class="form-control" name="instruction" value="{$vo.instruction}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn">保存修改</button>
                                                <button type="button" data-dismiss="modal" class="btn">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </table>
                    {$Page_no}
                </div>
                <div class="tab-pane fade" id="new">
                    <div class="list-group">
                        <div class="control-group">
                            <label class="control-label">文件上传</label>
                            <div class="row file">
                                <input id="fileupload" type="file" name="files[]" class="col-sm-3" multiple>
                                <div id="fileName" class="col-sm-3"></div>
                                <div id="fileSize" class="col-sm-3"></div>
                                <div class="col-sm-3 upload-file">
                                    <button class="btn pull-right upload-file-btn" style="width:100%">没有选择文件</button>
                                </div>
                            </div>
                        </div>
                        <div class="progress" id="progress">
                            <div class="bar progress-bar progress-bar-info" style="width: 0%;"></div>
                        </div>
                    </div>
                    <form action="__URL__/add" enctype="multipart/form-data" method="post" class="form-horizontal">
                        <input type="hidden" class="form-control" id="savename" name="savename" />
                        <input type="hidden" class="form-control" id="size" name="size" />
                        <input type="hidden" class="form-control" id="path" name="path" />
                        <input type="hidden" class="form-control" id="url" name="url" />
                        <div class="control-group">
                            <label class="control-label">项目名称</label>
                            <input type="text" class="form-control" id="filename" name="filename" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">项目参与者</label>
                            <input type="text" class="form-control" id="author" name="author" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">开源介绍</label>
                            <input type="text" class="form-control" id="instruction" name="instruction" />
                        </div>
                        <div class="control-group col-sm-offset-8 col-sm-4">
                            <button class="btn btn-info pull-right new" style="width:100%" disabled="disabled">新建</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</block>
<block name="js">
    <script src="__AJS__/jquery.ui.widget.js"></script>
    <script src="__AJS__/jquery.iframe-transport.js"></script>
    <script src="__AJS__/jquery.fileupload.js"></script>
    <script>
    $(function() {
        $('#fileupload').fileupload({
            dataType: 'json',
            add: function(e, data) {
                $('.upload-file-btn').text('上传');
                $('.upload-file-btn').click(function() {
                    $('.upload-file-btn').text('上传中，请耐心等待提示！');
                    data.submit();
                });
                console.log(data);
            },
            done: function(e, data) {
                var info = data.jqXHR.responseJSON;
                $('#savename').val(info[0].savename);
                $('#size').val(info[0].size);
                $('#path').val(info[0].name);
                $('#url').val(info[0].url);
                $('.upload-file-btn').text('上传完成');
                $('.new').attr('disabled', false);
                alert("上传完成");
            },
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            }
        });
    });

    function fileSelected() {
        var file = document.getElementById('fileupload').files[0];
        if (file) {
            var fileSize = 0;
            if (file.size > 1024 * 1024)
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            else
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
            document.getElementById('fileName').innerHTML = '文件名' + file.name;
            document.getElementById('fileSize').innerHTML = '文件大小:' + fileSize;
        }
    }
    </script>
</block>
