<extend name="Public:admin" />
<block name="css">
    <link href="__ACSS__/jquery.fancybox.css" rel="stylesheet" />
    <link href="__ACSS__/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="__ACSS__/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__ACSS__/jquery-ui-1.10.1.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="__ACSS__/bootstrap-wysihtml5.css" />
</block>

<block name="content">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><i class="icon-cogs"></i>新闻管理</div>
            <div class="tools">
                <a href="#add" data-toggle="modal"><b>添加新闻</b></a>
                <a href="javascript:;" class="collapse"></a>
                <!-- <a href="#portlet-config" data-toggle="modal" class="config"></a> -->
                <!-- <a href="javascript:;" class="reload"></a> -->
                <!-- <a href="javascript:;" class="remove"></a> -->
            </div>
        </div>
        <div class="portlet-body no-more-tables">
            <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th class="numeric">新闻标图</th>
                        <th class="numeric">新闻标题</th>
                        <th class="numeric">新闻日期</th>
                        <th class="numeric">新闻摘要</th>
                        <th class="numeric">操作</th>
                    </tr>
                </thead>
            
                <volist name="list" id="vo">
                <tbody class="file">
                    <tr class="template-domeload dade in">
                        <td class="img"><img src="{$vo.img}" width="35" height="35" alt=""></td>
                        <td class="title">{$vo.title}</td>
                        <td class="date">{$vo.date}</td>
                        <td class="content">{$vo.content}</td>
                        <td class="delete">
                            <a class="btn red mini" href="#delete{$vo.id}" data-toggle="modal"><i class="icon-trash"></i></a>
                            <a class="btn red mini" onclick="location.href='__URL__/upload?id={$vo.id}'"><i class="icon-edit"></i></a>
                            <div id="delete{$vo.id}" class="modal hide fade" tabindex="-1" data-backdrop="delete" data-keyboard="false">

                                <div class="modal-body">
                                    <p>确定删除该新闻？?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" onclick="location.href='__URL__/delete?id={$vo.id}'" class="btn green">确定</button>
                                    <button type="button" data-dismiss="modal" class="btn">取消</button>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </volist>
            </table>

        </div>

    </div>

    <div id="add" class="modal container hide fade" tabindex="-1" data-focus-on="input:first">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        </div>

        <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>添加新闻</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <!-- <a href="#portlet-config" data-toggle="modal" class="config"></a> -->
                                    <!-- <a href="javascript:;" class="reload"></a> -->
                                    <!-- <a href="javascript:;" class="remove"></a> -->
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form form action="__URL__/add" method="post" class="form-horizontal">

                                    <div class="control-group">
                                        <label class="control-label">Title</label>
                                        <div class="controls">
                                            <input type="text" class="span9 m-wrap" name="title" />
                                            <span class="help-inline">新闻标题</span>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Date</label>
                                        <div class="controls">
                                            <input class="span9 m-wrap" type="text" name="date"/>
                                            <span class="help-inline">新闻日期 格式:y-m-d</span>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Content</label>
                                        <div class="controls">
                                            <input type="text" class="span9 m-wrap" name="content" />
                                            <span class="help-inline">新闻摘要</span>
                                        </div>
                                    </div>

<!--                                     <div class="control-group">
                                        <label class="control-label">主要内容</label>
                                        <div class="controls">
                                            <textarea class="span12 wysihtml5 m-wrap" rows="6" name="image-text"></textarea>
                                        </div>
                                    </div> -->

                                    <div class="control-group">
                                        <div class="controls">
                                        <button type="submit" class="btn blue start">
                                        <i class="icon-upload icon-white"></i>
                                        <span>添加</span>
                                        </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->  
                            </div>
                        </div>
                    </div>
                </div>

        </div>

<!--         <div class="modal-footer">

            <button type="button" data-dismiss="modal" class="btn">Close</button>

            <button type="button" class="btn red">Ok</button>

        </div> -->

    </div>

</block>
<block name="jq">
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="__AJS__/bootstrap-modal.js" type="text/javascript" ></script>

    <script src="__AJS__/bootstrap-modalmanager.js" type="text/javascript" ></script>

    <!-- // <script type="text/javascript" src="__AJS__/bootstrap-datepicker.js"></script> -->
    <script type="text/javascript" src="__AJS__/wysihtml5-0.3.0.js"></script> 
    <script type="text/javascript" src="__AJS__/bootstrap-wysihtml5.js"></script>

    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="__AJS__/app.js"></script>

    <script src="__AJS__/form-components.js"></script>  

    <script src="__AJS__/ui-modals.js"></script>     

    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL PLUGINS -->

    <script>

        jQuery(document).ready(function() {

        // initiate layout and plugins

        App.init();

        FormComponents.init();

        UIModals.init();

        });

    </script>

    <!-- END JAVASCRIPTS -->
</block>
