body {
    margin: 0;
    padding: 0;
    display: block;
    font-family:  "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}

a, a:hover {
    text-decoration: none;
}


section {
    padding: 6em 2em;
}

section h1,h2,h3,h4,h5 {
    text-align: center;
}

section h1 {
    font-size: 3em; 
}

section h2 {
    font-size: 2em; 
}

section p {
    font-size: 1.5em;
    line-height: 1.518;
    max-width: 1200px;
    margin: 0 auto;
    color: rgba(255,255,255,0.9);
}


.grid-wrap {
    margin: 10px auto 0;
    max-width: 1090px;
    width: 100%;
    padding: 0;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.grid {
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
    transition: all 0.5s cubic-bezier(0,0,0.25,1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.view-full .grid {
    -webkit-transform: translateZ(-1500px);
    transform: translateZ(-1500px);
}

.grid figure,
.grid .placeholder {
    width: 340px;
    height: 300px;
}

.grid img {
    height: 340px;
    width: 300px;
}

.grid figure {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid figure.active {
    opacity: 0;
}

.grid .placeholder {
    pointer-events: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}